.mainChart {
	text-align: center;
}

/* For resolution 848 x 1555, e.g. vivo iQOO Neo8 Pro */
@media (max-width: 1555px) {
	.mainChart {
		width: 840px;
		height: 1539px;
	}
	.side {
		visibility: hidden;
	}
}

/* For resolution 2560 x 1600 and zoom 125%, e.g. LAPTOP-O511PV03 */
@media (min-width: 2040px) and (min-height: 1162px) {
	.mainChart {
		width: 2032px;
		height: 1146px;
	}
	.side {
		height: 387px;
	}
}

/* For resolution 2880 x 1800 and zoom 125%, e.g. LAPTOP-8DRAKJJF */
@media (min-width: 2296px) and (min-height: 1314px) {
	.mainChart {
		width: 2288px;
		height: 1298px;
	}
	.side {
		height: 438px;
	}
}

/* For resolution 3840 x 2160 and zoom 150%, e.g. LAPTOP-8DRAKJJF projected on a 4K monitor */
@media (min-width: 2552px) and (min-height: 1314px) {
	.mainChart {
		width: 2544px;
		height: 1298px;
	}
	.side {
		height: 438px;
	}
}

/* For resolution 3840 x 2160 and zoom 150%, e.g. jacky-B650I-AORUS-ULTRA */
@media (min-width: 2560px) and (min-height: 1247px) {
	.mainChart {
		width: 2552px;
		height: 1231px;
	}
	.side {
		height: 415px;
	}
}

/* For resolution 3840 x 2160 and zoom 125%, e.g. jacky-B650I-AORUS-ULTRA */
@media (min-width: 3072px) and (min-height: 1535px) {
	.mainChart {
		width: 3064px;
		height: 1519px;
	}
	.side {
		height: 511px;
	}
}

.topLeft {
	position: absolute;
	top: 0px;
	left: 0px;
}

.middleLeft {
	position: absolute;
	top: 33.33%;
	left: 0px;
}

.bottomLeft {
	position: absolute;
	top: 66.67%;
	left: 0px;
}

.topRight {
	position: absolute;
	top: 0px;
	right: 0px;
}

.middleRight {
	position: absolute;
	top: 33.33%;
	right: 0px;
}

.bottomRight {
	position: absolute;
	top: 66.67%;
	right: 0px;
}
